parserOptions:
    sourceType: "script"

env:
    browser: true
    node: true
    es6: true

globals:
  d3: false
  dl: false

extends:
    "eslint:recommended"

rules:
    no-cond-assign: 0
    no-fallthrough: ["error", { "commentPattern": "break omitted" }]
    space-before-function-paren: ["error", "never"]
    quotes: ["error", "double"]
    comma-spacing: ["error", { "before": false, "after": true }]
    keyword-spacing: "error"
    space-infix-ops: 2
